### Lab week 6 (Feb 8th – Feb 12th)

One issue in natural language processing is the identification of sentiment of texts, are they positive,
negative or neutral to some concept. This dataset
(https://github.com/thanhtut/info284_lab/blob/master/assignment1/twitter-airlinesentiment/Tweets.csv) has a collection of tweets about airlines with corresponding sentiments
(negative, positive, neutral).

The task we want you to do is to run three machine learning models using Naïve Bayes on the tweet
texts.
1. Prepare the data for machine learning. Extract the relevant columns, do language
preprocessing of the tweets, etc.
2. Run a BernoulliNB to classify sentiment
3. Run a MultiomialNB to classify sentiment
4. Run a MultinomialNB to classify sentiment, but instead of using a count vector you should
use a TF-IDF-vector for each instance. 

What is TF-IDF? Read sources on information retrieval,
and also look here: https://stackabuse.com/text-classification-with-python-and-scikit-learn/

How do the three approaches compare?

## Working with text data in scikit-learn
https://scikit-learn.org/stable/tutorial/text_analytics/working_with_text_data.html

## Exploratory data analysis
https://www.kaggle.com/parthsharma5795/comprehensive-twitter-airline-sentiment-analysis

## Data analysis and data cleaning
https://stackabuse.com/python-for-nlp-sentiment-analysis-with-scikit-learn/

In [167]:
import pandas as pd

In [168]:
df = pd.read_csv("Tweets.csv")

In [169]:
df.head()

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,570306133677760513,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada)
1,570301130888122368,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada)
2,570301083672813571,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2015-02-24 11:15:48 -0800,Lets Play,Central Time (US & Canada)
3,570301031407624196,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,2015-02-24 11:15:36 -0800,NaN,Pacific Time (US & Canada)
4,570300817074462722,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing...,NaN,2015-02-24 11:14:45 -0800,NaN,Pacific Time (US & Canada)

In [92]:
df['text'][9]

"@VirginAmerica it was amazing, and arrived an hour early. You're too good to me."

In [8]:
print("Shape of the dataframe is",df.shape)
print("The number of nulls in each column are \n", df.isna().sum())

Shape of the dataframe is (14640, 15)
The number of nulls in each column are
 tweet_id                            0
airline_sentiment                   0
airline_sentiment_confidence        0
negativereason                   5462
negativereason_confidence        4118
airline                             0
airline_sentiment_gold          14600
name                                0
negativereason_gold             14608
retweet_count                       0
text                                0
tweet_coord                     13621
tweet_created                       0
tweet_location                   4733
user_timezone                    4820
dtype: int64

In [76]:
df['airline_sentiment'].value_counts()

negative    9178
neutral     3099
positive    2363
Name: airline_sentiment, dtype: int64

In [77]:
df['negativereason'].value_counts()

Customer Service Issue         2910
Late Flight                    1665
Can't Tell                     1190
Cancelled Flight                847
Lost Luggage                    724
Bad Flight                      580
Flight Booking Problems         529
Flight Attendant Complaints     481
longlines                       178
Damaged Luggage                  74
Name: negativereason, dtype: int64

In [116]:
df['airline'].value_counts()

United            3822
US Airways        2913
American          2759
Southwest         2420
Delta             2222
Virgin America     504
Name: airline, dtype: int64

### 1. Prepare the data for machine learning. Extract the relevant columns, do language preprocessing of the tweets, etc.
Clean text data: https://stackabuse.com/text-classification-with-python-and-scikit-learn/

Preprocessing using CountVectorizer: https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.CountVectorizer.html

Train test split: https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html

### 2. Run a BernoulliNB to classify sentiment
https://scikit-learn.org/stable/modules/generated/sklearn.naive_bayes.BernoulliNB.html

### 3. Run a MultiomialNB to classify sentiment
https://scikit-learn.org/stable/modules/generated/sklearn.naive_bayes.MultinomialNB.html

### 4. Run a MultinomialNB to classify sentiment, but instead of using a count vector you should use a TF-IDF-vector for each instance.
Preprocessing using TF-IDF-Vectorizer: https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.TfidfVectorizer.html